* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
}
body {
    display: flex;
    justify-content: left;
    min-height: 100vh;

    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #006666 , #ffffcc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #006666 , #ffffcc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ul {
    display: flex;
    position: relative;
}
ul li {
    list-style: none;
    margin: 0 20px;
}
ul li a {
    display: inline-block;
    position: relative;
    
    font-size: 2rem;
    color: #fff;
    transition: 1s;
}
ul li a:hover {
    color: aqua;
}
.cursor {
    position: fixed;
    height: 0;width: 0;border: 4px solid #fff;border-radius: 50%;transform: translate(-50%,-50%);pointer-events: none;
    transition : width 0.2s, height 0.2s;
}
ul li:hover ~ .cursor {
    width: 60px;
    height: 60px;
    border:2px solid aqua;
}